<div class="container-fluid shadow bg-body-tertiary px-3 mt-5 py-2">
    <div class="row w-100">
        <div class="col">
            <h3>E-Kart 2024</h3>
            <p style="text-align: justify;">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Iure sunt aliquam labore maiores voluptas tempore deserunt mollitia vitae beatae modi, nam tempora aspernatur necessitatibus exercitationem suscipit corporis! Sunt, deserunt distinctio.</p>
        </div>
        <div class="col">
            <h3 class="ms-4">Links</h3>
            <ul>
                <li type="none" class="mb-2">
                    <a routerLink="">Home</a>
                </li>
                <li type="none" class="mb-2">
                    <a routerLink="/log">Loggin</a>
                </li>
                <li type="none" class="mb-2">
                    <a routerLink="/reg">SignUp</a>
                </li>
            </ul>
        </div>
        <div class="col">
            <h2>Feedbacks</h2>
            <textarea name="" class="form-control" placeholder="Enter Feedbacks "></textarea>
            <button class="btn btn info mt-2">Submit</button>
        </div>
    </div>
</div>
