<app-header/>

<div class="container-fluid mt-3" style="min-height: 90vh;">
    <div class="row">
        <div class="col-9">
            <table class="table table-borderd"  *ngIf="cartlist?.length>0"  >
                <thead>
                    <tr>
                        <th>Id</th>
                        <th>Title</th>
                        <th>Image</th>
                        <th>Quantity</th>
                        <th>Unit Price</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    <tr  *ngFor="let i of cartlist" >
                        <td>{{i?.id}}</td>
                        <td>{{i?.title}}</td>
                        <td>
                            <img src="{{i.image}}" height="200px" alt="">
                        </td>
                        <td>
                            <button class="btn "  (click)="handleDecreaseQuantity(i._id)" >-</button>
                            <span class="border rounded px-2 text-center">{{i.quantity}}</span>
                            <button class="btn " (click)="handleIncreaseQuantity(i._id)" >+</button>
                        </td>
                        <td>
                            {{i?.price}}
                        </td>
                        <td>
                            <button class="btn" (click)="handleDeleteCart(i._id)">
                                <i class="fa-solid fa-trash" style="color: #ea0606;"></i>
                            </button>
                        </td>
                    </tr>
                </tbody>
            </table>
            <h2 class="text-center my-4 text-warning" *ngIf="cartlist?.length<=0"  >No Items Added Yet</h2>
        </div>
        <div class="col-3 ">
            <div class="w-100 rounded shadow px-2 py-4">
                <h6>Total Items : <span class="text-warning">{{cartlist?.length}}</span></h6>
                <h6>Total Amount : <span class="text-warning">{{totalAmnt}}</span></h6>
                <div class=" p-2 text-center">
                    <button *ngIf="!offerStatus && !oStatus" class="btn btn-link" (click)="changeStatus()" >Click For Offers</button>
                    <div *ngIf="offerStatus && !oStatus" class="border border-1 p-2">
                        <img *ngIf="totalAmnt>0 && totalAmnt<=100" (click)="discount10()" src="https://img.freepik.com/premium-vector/coupon-mockup-with-10-percent-off-discount-voucher-gift-coupon-coupon-promotion-sale-vector_662353-251.jpg" width="100%" height="150px" alt="10%">
                        <img *ngIf="totalAmnt>100 && totalAmnt<=350" (click)="discount20()" src="https://t3.ftcdn.net/jpg/01/99/04/90/360_F_199049065_qQujFa3FnAcomYDDQrD3gLVBdxtYugeb.jpg" alt="20%" width="100%" height="150px">
                        <img *ngIf="totalAmnt>350" (click)="discount50()" src="https://t3.ftcdn.net/jpg/00/86/91/80/360_F_86918065_ElCAhowysBMGeAfIzaJ34Au8EmAevGIz.jpg" alt="50%" width="100%" height="150px" >
                    </div>
                </div>
                <div class="mt-3 d-grid">
                    <button class="btn btn-outline-danger mb-2" (click)="RemoveAllFromCart()">Empty Cart</button>
                    <button class="btn btn-success mb-2" (click)="checkout()">CheckOut</button>
                </div>
            </div>
        </div>
    </div>
</div>